<h2>You fell in love with : <%= thingVar.toUpperCase() %> </h2>


<% if (thingVar.toLowerCase() === "bruno") { %>
  <p>Good choice! Bruno is the Best!!</p>
<% } else { %>
   <p>You should've chose Bruno.</p>
<% } %>

<p>This is love.ejs file</p> 

<!--<%=%>  when there is to return something in html page-->
<!--<%%> when there is an javascript logic-->